*{
    font-family: ubuntu;
}

body{
    padding: 0%;
    margin: 0%;
    background-color: rgb(151, 136, 136);
}

header{
    background-color: rgb(250, 247, 247);
    font-size: 50px;
}

.container{
    display: flex;
}

.reserva{
    background-color: rgb(32, 32, 32);
    height: 530px;
    width: 350px;
    
}

.nom, .cpf, .mes{
    text-align: center;
    padding: 30px 0px 15px;
    color: antiquewhite;
}

.janela{
    font-size: 18px;
}

.janelamesa{
    height: 25px;
    width: 60px;
}

.confirm{
    text-align: center;

}